In [11]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

pd.options.display.float_format = '{:.2f}'.format

***

# TweetsKB

***

In [12]:
path = '../data/tweetskb_political_polarized_users.tsv'

df_tweetskb_political_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False , names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'user_political_polarisation'])

print('Shape :', df_tweetskb_political_polarized_users.shape)
df_tweetskb_political_polarized_users.head()

Shape : (67511, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,user_political_polarisation
0,0000Condor,-1,0,1,-1.00
1,007AliSohrab,-1,1,2,0.00
2,007newsandviews,-1,0,1,-1.00
3,007plus100,-1,0,1,-1.00
4,00CelebNewz00,-1,0,1,-1.00

In [13]:
path = '../data/tweetskb_science_polarized_users.tsv'

df_tweetskb_science_polarized_users = pd.read_csv(path, sep='\t' , error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'user_science_polarisation'])

print('Shape :', df_tweetskb_science_polarized_users.shape)
df_tweetskb_science_polarized_users.head()

Shape : (15325, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,user_science_polarisation
0,000000hSure,-1,0,1,-1.00
1,01splcheck,-1,0,1,-1.00
2,01sth02,0,1,1,1.00
3,0Bettymowery2,-1,0,1,-1.00
4,0Ludicris5,-2,0,2,-1.00

In [14]:
path = '../data/tweetskb_moderacy_polarized_users.tsv'

df_tweetskb_moderacy_polarized_users = pd.read_csv(path, sep='\t' , error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'user_moderacy_polarisation'])

print('Shape :', df_tweetskb_moderacy_polarized_users.shape)
df_tweetskb_moderacy_polarized_users.head()

Shape : (67511, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,user_moderacy_polarisation
0,0000Condor,0,1,1,1.00
1,007AliSohrab,-2,0,2,-1.00
2,007newsandviews,-1,0,1,-1.00
3,007plus100,-1,0,1,-1.00
4,00CelebNewz00,-1,0,1,-1.00

In [15]:

df_tweetskb_political_polarized_users = df_tweetskb_political_polarized_users[['Username', 'user_political_polarisation']]
df_tweetskb_science_polarized_users = df_tweetskb_science_polarized_users[['Username', 'user_science_polarisation']]

df_tweetskb_polarized_users = pd.merge(df_tweetskb_political_polarized_users, df_tweetskb_science_polarized_users, on='Username', how='outer')
print('Shape :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Shape : (79041, 3)

          Username  user_political_polarisation  user_science_polarisation
0       0000Condor                        -1.00                        NaN
1     007AliSohrab                         0.00                        NaN
2  007newsandviews                        -1.00                        NaN
3       007plus100                        -1.00                        NaN
4    00CelebNewz00                        -1.00                        NaN

In [16]:
df_tweetskb_moderacy_polarized_users = df_tweetskb_moderacy_polarized_users[['Username', 'user_moderacy_polarisation']]
df_tweetskb_polarized_users = pd.merge(df_tweetskb_polarized_users, df_tweetskb_moderacy_polarized_users, on='Username', how='outer')

print('Shape :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Shape : (79041, 4)

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
0,0000Condor,-1.00,NaN,1.00
1,007AliSohrab,0.00,NaN,-1.00
2,007newsandviews,-1.00,NaN,-1.00
3,007plus100,-1.00,NaN,-1.00
4,00CelebNewz00,-1.00,NaN,-1.00

***

In [17]:
path = '../data/TweetsKB_alltweets_reputation_deletionratio.tsv'

df_tweetskb_alltweets_reputation_deletionratio = pd.read_csv(path, sep='\t', dtype={'Tweet_Id':'object'}, error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'num_posted', 'num_del', 'Deletionratio',  'Reputation'])

print('Form :', df_tweetskb_alltweets_reputation_deletionratio.shape)
df_tweetskb_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Deletionratio,Reputation
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.00,1.00
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.00,1.00
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.00,1.00
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.00,1.00
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.00,1.00

In [18]:
df_tweetskb_alltweets_reputation_deletionratio = df_tweetskb_alltweets_reputation_deletionratio[['Tweet_Id', 'Username', 'Deletionratio', 'Reputation', 'is_deleted']]

df_tweetskb_polarized_users = pd.merge(df_tweetskb_polarized_users, df_tweetskb_alltweets_reputation_deletionratio, on='Username', how='inner')
print('Form :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Form : (556583, 8)

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Tweet_Id,Deletionratio,Reputation,is_deleted
0,0000Condor,-1.00,NaN,1.00,1266775106803638274,1.00,0.26,True
1,007AliSohrab,0.00,NaN,-1.00,1223853670619475968,1.00,0.98,True
2,007AliSohrab,0.00,NaN,-1.00,1235648403742142464,1.00,0.98,True
3,007AliSohrab,0.00,NaN,-1.00,1235787184721907712,1.00,0.98,True
4,007AliSohrab,0.00,NaN,-1.00,1244655252730548224,1.00,0.98,True

In [19]:
# df_tweetskb_polarized_users = df_tweetskb_polarized_users.replace(np.nan, 0)
df_tweetskb_polarized_users[df_tweetskb_polarized_users['user_moderacy_polarisation'] == 0].head()

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Tweet_Id,Deletionratio,Reputation,is_deleted
37,01_zebra,1.00,NaN,0.00,1182750951473586178,1.00,0.48,True
38,01_zebra,1.00,NaN,0.00,1183500175375065091,1.00,0.48,True
39,01_zebra,1.00,NaN,0.00,1189714829562580992,1.00,0.48,True
40,01_zebra,1.00,NaN,0.00,1226259764713267200,1.00,0.48,True
41,01_zebra,1.00,NaN,0.00,1242615773165752321,1.00,0.48,True

### Add Timestamp

In [20]:
path = '../data/df_tweetskb_tweetsid_username_timestamp.tsv'

df_tweetskb_id_user_time = pd.read_csv(path, sep='\t', dtype={'Tweet_Id':'object'}, error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp'])

print('Shape :', df_tweetskb_id_user_time.shape)
df_tweetskb_id_user_time.head()

Shape : (9409841, 3)

              Tweet_Id         Username                  Timestamp
0  1178791636039589889         DCComics  2019-09-30 22:00:01+00:00
1  1178791641265639424       seanberdyz  2019-09-30 22:00:02+00:00
2  1178791640573579264  AnArtistAtBirth  2019-09-30 22:00:02+00:00
3  1178791644797255680     lagosboygang  2019-09-30 22:00:03+00:00
4  1178791648056217600     Phenom_Hoops  2019-09-30 22:00:04+00:00

In [21]:
df_tweetskb_id_user_time = df_tweetskb_id_user_time[['Tweet_Id', 'Timestamp']]

df_tweetskb_polarized_users = pd.merge(df_tweetskb_polarized_users, df_tweetskb_id_user_time, how='inner', on='Tweet_Id')
df_tweetskb_polarized_users.head(1)

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Tweet_Id,Deletionratio,Reputation,is_deleted,Timestamp
0,0000Condor,-1.00,NaN,1.00,1266775106803638274,1.00,0.26,True,2020-05-30 16:54:55+00:00

In [22]:
df_tweetskb_polarized_users = df_tweetskb_polarized_users[['Tweet_Id', 'Username', 'Deletionratio', 'Reputation', 'is_deleted', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'Timestamp']]
df_tweetskb_polarized_users.head(1)

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Timestamp
0,1266775106803638274,0000Condor,1.00,0.26,True,-1.00,NaN,1.00,2020-05-30 16:54:55+00:00

In [23]:
# pfad_tsv = '../data/tweetskb_polarized_users_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetskb_polarized_users.iterrows():
#         tsv_writer.writerow(row.values.tolist())

----------------

## Merge tweets polarisation

In [24]:
path = '../data/tweetskb_political_polarized_tweets.tsv'

df_tweetskb_political_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, dtype={'Tweet_Id':'object'}, names=['Tweet_Id', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarized_domains', 'tweet_political_polarisation'])

print('Shape :', df_tweetskb_political_polarized_tweets.shape)
df_tweetskb_political_polarized_tweets.head()

Shape : (133676, 5)

,Tweet_Id,Number_of_liberals,Number_of_conservatives,Sum_polarized_domains,tweet_political_polarisation
0,1178791665735208960,0,1,1,1.00
1,1178792395573383168,0,1,1,1.00
2,1178792740664102913,-1,0,1,-1.00
3,1178793142134292481,-1,0,1,-1.00
4,1178793578350497806,-1,0,1,-1.00

In [25]:
path = '../data/tweetskb_science_polarized_tweets.tsv'

df_tweetskb_science_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, dtype={'Tweet_Id':'object'} ,names=['Tweet_Id', 'number_of_antisciens_domains', 'number_of_prosciens_domains', 'Sum_polarized_domains', 'tweet_science_polarisation'])

print('Shape :', df_tweetskb_science_polarized_tweets.shape)
df_tweetskb_science_polarized_tweets.head()

Shape : (34081, 5)

,Tweet_Id,number_of_antisciens_domains,number_of_prosciens_domains,Sum_polarized_domains,tweet_science_polarisation
0,1178791802725376003,0,1,1,1.00
1,1178793504056713224,-1,0,1,-1.00
2,1178794456075522049,-1,0,1,-1.00
3,1178794475918954496,-1,0,1,-1.00
4,1178794990035701761,-1,0,1,-1.00

In [26]:
path = '../data/tweetskb_moderacy_polarized_tweets.tsv'

df_tweetskb_moderacy_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, dtype={'Tweet_Id':'object'}, names=['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains', 'Sum_polarized_domains', 'tweet_moderacy_polarisation'])

print('Shape :', df_tweetskb_moderacy_polarized_tweets.shape)
df_tweetskb_moderacy_polarized_tweets.head()

Shape : (133676, 5)

,Tweet_Id,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,tweet_moderacy_polarisation
0,1178791665735208960,0,1,1,1.00
1,1178792395573383168,-1,0,1,-1.00
2,1178792740664102913,-1,0,1,-1.00
3,1178793142134292481,-1,0,1,-1.00
4,1178793578350497806,0,1,1,1.00

In [27]:
df_tweetskb_political_polarized_tweets = df_tweetskb_political_polarized_tweets[['Tweet_Id', 'tweet_political_polarisation']]
df_tweetskb_science_polarized_tweets = df_tweetskb_science_polarized_tweets[['Tweet_Id', 'tweet_science_polarisation']]
df_tweetskb_moderacy_polarized_tweets = df_tweetskb_moderacy_polarized_tweets[['Tweet_Id', 'tweet_moderacy_polarisation']]

df_tweetskb_political_polarized_tweets.Tweet_Id = df_tweetskb_political_polarized_tweets.Tweet_Id.astype(str) 
df_tweetskb_science_polarized_tweets.Tweet_Id = df_tweetskb_science_polarized_tweets.Tweet_Id.astype(str) 
df_tweetskb_moderacy_polarized_tweets.Tweet_Id = df_tweetskb_moderacy_polarized_tweets.Tweet_Id.astype(str) 

df_tweetskb_polarized_tweets = pd.merge(df_tweetskb_science_polarized_tweets, df_tweetskb_political_polarized_tweets, on= 'Tweet_Id', how='outer' )
df_tweetskb_polarized_tweets = pd.merge(df_tweetskb_polarized_tweets, df_tweetskb_moderacy_polarized_tweets, on= 'Tweet_Id', how='outer' )

In [28]:
df_tweetskb_polarized_tweets.shape

(167677, 4)

In [29]:
df_tweetskb_polarized_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556583 entries, 0 to 556582
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Tweet_Id                     556583 non-null  object
 1   Username                     556583 non-null  object
 2   Deletionratio                556583 non-null  float64
 3   Reputation                   556583 non-null  float64
 4   is_deleted                   556583 non-null  bool
 5   user_political_polarisation  501063 non-null  float64
 6   user_science_polarisation    159330 non-null  float64
 7   user_moderacy_polarisation   501063 non-null  float64
 8   Timestamp                    556583 non-null  object
dtypes: bool(1), float64(5), object(3)
memory usage: 38.7+ MB

In [30]:
df_tweetskb_polarized_user_and_tweet = pd.merge(df_tweetskb_polarized_users, df_tweetskb_polarized_tweets, how='inner', on='Tweet_Id')
df_tweetskb_polarized_user_and_tweet.shape

(167677, 12)

In [31]:
df_tweetskb_polarized_user_and_tweet = df_tweetskb_polarized_user_and_tweet[['Tweet_Id', 'Username', 'Timestamp', 'Deletionratio', 'Reputation', 'is_deleted', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation']]
# df_tweetskb_polarized_user_and_tweet = df_tweetskb_polarized_user_and_tweet.replace(np.nan, 0)
df_tweetskb_polarized_user_and_tweet.head(1)

,Tweet_Id,Username,Timestamp,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1266775106803638274,0000Condor,2020-05-30 16:54:55+00:00,1.00,0.26,True,-1.00,NaN,1.00,-1.00,NaN,1.00

In [33]:
deleted = df_tweetskb_polarized_user_and_tweet[df_tweetskb_polarized_user_and_tweet.is_deleted == True].shape[0]
undeleted = df_tweetskb_polarized_user_and_tweet[df_tweetskb_polarized_user_and_tweet.is_deleted == False].shape[0]

print('Deletd : ',deleted)
print('Undeleted: ',undeleted)

Deletd :  32730
Undeleted:  134947

In [ ]:
df_tweetskb_polarized_user_and_tweet.

In [108]:
# pfad_tsv3 = '../data/tweetsKB_polarized_users_and_tweets_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetskb_polarized_user_and_tweet.iterrows():
#         tsv_writer.writerow(row.values.tolist())

---