In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

***

# TweetsKB

***

In [2]:
path = '../data/tweetskb_political_polarized_users.tsv'

df_tweetskb_political_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'political_polarisation'])

print('Shape :', df_tweetskb_political_polarized_users.shape)
df_tweetskb_political_polarized_users.head()

Shape : (66027, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,political_polarisation
0,0000Condor,-1,0,1,-1.0
1,007newsandviews,-1,0,1,-1.0
2,007plus100,-1,0,1,-1.0
3,00CelebNewz00,-1,0,1,-1.0
4,00Mit89,0,1,1,1.0

In [3]:
path = '../data/tweetskb_science_polarized_users.tsv'

df_tweetskb_science_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'science_polarisation'])

print('Shape :', df_tweetskb_science_polarized_users.shape)
df_tweetskb_science_polarized_users.head()

Shape : (15262, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,science_polarisation
0,000000hSure,-1,0,1,-1.0
1,01splcheck,-1,0,1,-1.0
2,01sth02,0,1,1,1.0
3,0Bettymowery2,-1,0,1,-1.0
4,0Ludicris5,-2,0,2,-1.0

In [4]:
path = '../data/tweetskb_moderacy_polarized_users.tsv'

df_tweetskb_moderacy_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'moderacy_polarisation'])

print('Shape :', df_tweetskb_moderacy_polarized_users.shape)
df_tweetskb_moderacy_polarized_users.head()

Shape : (65653, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,moderacy_polarisation
0,0000Condor,0,1,1,1.0
1,007AliSohrab,-2,0,2,-1.0
2,007newsandviews,-1,0,1,-1.0
3,007plus100,-1,0,1,-1.0
4,00CelebNewz00,-1,0,1,-1.0

In [5]:

df_tweetskb_political_polarized_users = df_tweetskb_political_polarized_users[['Username', 'political_polarisation']]
df_tweetskb_science_polarized_users = df_tweetskb_science_polarized_users[['Username', 'science_polarisation']]

df_tweetskb_polarized_users = pd.merge(df_tweetskb_political_polarized_users, df_tweetskb_science_polarized_users, on='Username', how='outer')
print('Shape :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Shape : (77795, 3)

          Username  political_polarisation  science_polarisation
0       0000Condor                    -1.0                   NaN
1  007newsandviews                    -1.0                   NaN
2       007plus100                    -1.0                   NaN
3    00CelebNewz00                    -1.0                   NaN
4          00Mit89                     1.0                   NaN

In [6]:
df_tweetskb_moderacy_polarized_users = df_tweetskb_moderacy_polarized_users[['Username', 'moderacy_polarisation']]
df_tweetskb_polarized_users = pd.merge(df_tweetskb_polarized_users, df_tweetskb_moderacy_polarized_users, on='Username', how='outer')

print('Shape :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Shape : (78638, 4)

,Username,political_polarisation,science_polarisation,moderacy_polarisation
0,0000Condor,-1.0,NaN,1.0
1,007newsandviews,-1.0,NaN,-1.0
2,007plus100,-1.0,NaN,-1.0
3,00CelebNewz00,-1.0,NaN,-1.0
4,00Mit89,1.0,NaN,-1.0

***

In [7]:
path = '../data/TweetsKB_alltweets_reputation_deletionratio.tsv'

df_tweetskb_alltweets_reputation_deletionratio = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'num_posted', 'num_del', 'Deletionratio',  'Reputation'])

print('Form :', df_tweetskb_alltweets_reputation_deletionratio.shape)
df_tweetskb_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted,num_del,Deletionratio,Reputation
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.0,0.999832
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.0,0.999832
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.0,0.999832
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.0,0.999832
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.0,0.999832

In [8]:
df_tweetskb_alltweets_reputation_deletionratio = df_tweetskb_alltweets_reputation_deletionratio[['Username', 'Deletionratio', 'Reputation', 'is_deleted']]

df_tweetskb_polarized_users = pd.merge(df_tweetskb_polarized_users, df_tweetskb_alltweets_reputation_deletionratio, on='Username', how='inner')
print('Form :', df_tweetskb_polarized_users.shape)
df_tweetskb_polarized_users.head()

Form : (552665, 7)

,Username,political_polarisation,science_polarisation,moderacy_polarisation,Deletionratio,Reputation,is_deleted
0,0000Condor,-1.0,NaN,1.0,1.0,0.255611,True
1,007newsandviews,-1.0,NaN,-1.0,0.0,0.482814,False
2,007plus100,-1.0,NaN,-1.0,0.0,0.397962,False
3,007plus100,-1.0,NaN,-1.0,0.0,0.397962,False
4,007plus100,-1.0,NaN,-1.0,0.0,0.397962,False

In [9]:
df_tweetskb_polarized_users = df_tweetskb_polarized_users.replace(np.nan, 0)
df_tweetskb_polarized_users[df_tweetskb_polarized_users['moderacy_polarisation'] == 0].head()

,Username,political_polarisation,science_polarisation,moderacy_polarisation,Deletionratio,Reputation,is_deleted
14,01_zebra,1.0,0.0,0.0,1.0,0.479133,True
15,01_zebra,1.0,0.0,0.0,1.0,0.479133,True
16,01_zebra,1.0,0.0,0.0,1.0,0.479133,True
17,01_zebra,1.0,0.0,0.0,1.0,0.479133,True
18,01_zebra,1.0,0.0,0.0,1.0,0.479133,True

In [10]:
pfad_tsv3 = '../data/tweetsKB_polarized_users_deletionratio_reputation.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_polarized_users.iterrows():
        tsv_writer.writerow(row.values.tolist())