In [1]:
import csv
import pandas as pd
import numpy as np
import json

csv.field_size_limit(100000000)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import matplotlib.dates as mdates
import matplotlib.ticker as tick
import warnings
warnings.filterwarnings('ignore')

pd.options.display.float_format = '{:.4f}'.format

****

# TweetsCOV19

***

In [5]:
TweetsCov19_domains_labels = ['domain', 'Number']
TweetsCov19_domains_Pfad =  '../data/tweetsCov19_unique_urls.tsv'

In [6]:
#Dataframe TweetsCov19 
df_tweetscov19_domains = pd.read_csv(TweetsCov19_domains_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_domains_labels)
print('Form', df_tweetscov19_domains.shape)
df_tweetscov19_domains.head()

Form (181023, 2)

          domain   Number
0              0  6990537
1    twitter.com   270819
2    youtube.com   122204
3  instagram.com    60647
4    nytimes.com    35661

In [7]:
from pydomains import *

In [9]:
df = pd.DataFrame([{'url': 'bbc.com'}])
df_shalla_test = shalla_cat(df, domain_names='url')

Using cached Shallalist data from local (C:\Users\mdsam\.pydomains\shalla_2017.csv.bz2)...
Loading Shallalist data file...

In [10]:
df_shalla_test

       url shalla_2017_domain shalla_2017_cat
0  bbc.com            bbc.com            news

In [11]:
df_shalla_test.values.tolist()[0]

['bbc.com', 'bbc.com', 'news']

***

In [13]:
df_tweetscov19_domains = df_tweetscov19_domains[['domain']]
df_tweetscov19_domains['domain'] = df_tweetscov19_domains['domain'].astype(str)


df_tweetscov19_domains_shalla = shalla_cat(df_tweetscov19_domains, domain_names='domain')

Using cached Shallalist data from local (C:\Users\mdsam\.pydomains\shalla_2017.csv.bz2)...
Loading Shallalist data file...

In [14]:
df_tweetscov19_domains_shalla.head()

          domain shalla_2017_domain         shalla_2017_cat
0              0                  0                     NaN
1    twitter.com        twitter.com               socialnet
2    youtube.com        youtube.com                  movies
3  instagram.com      instagram.com  socialnet|imagehosting
4    nytimes.com        nytimes.com                    news

In [15]:
df_tweetscov19_domains_shalla.drop(index=df_tweetscov19_domains_shalla.index[:1], axis=0, inplace=True)
df_tweetscov19_domains_shalla.head()

            domain shalla_2017_domain         shalla_2017_cat
1      twitter.com        twitter.com               socialnet
2      youtube.com        youtube.com                  movies
3    instagram.com      instagram.com  socialnet|imagehosting
4      nytimes.com        nytimes.com                    news
5  theguardian.com    theguardian.com                    news

In [17]:
df_tweetscov19_domains_shalla = df_tweetscov19_domains_shalla[['domain', 'shalla_2017_cat']]
df_tweetscov19_domains_shalla.head()

            domain         shalla_2017_cat
1      twitter.com               socialnet
2      youtube.com                  movies
3    instagram.com  socialnet|imagehosting
4      nytimes.com                    news
5  theguardian.com                    news

In [18]:
def get_cat(domains):
    l = domains.split('|')
    return l[0]

df_tweetscov19_domains_shalla['shalla_2017_cat'] = df_tweetscov19_domains_shalla['shalla_2017_cat'].astype(str)

df_tweetscov19_domains_shalla['domain_categories_shalla'] = df_tweetscov19_domains_shalla.apply(lambda row: get_cat(row['shalla_2017_cat']), axis=1)
print('Domains Kategorisiert!')

Domains Kategorisiert!

In [19]:
df_tweetscov19_domains_shalla.head()

            domain         shalla_2017_cat domain_categories_shalla
1      twitter.com               socialnet                socialnet
2      youtube.com                  movies                   movies
3    instagram.com  socialnet|imagehosting                socialnet
4      nytimes.com                    news                     news
5  theguardian.com                    news                     news

In [20]:
df_tweetscov19_domains_shalla = df_tweetscov19_domains_shalla[['domain', 'domain_categories_shalla']]

pfad_tsv = '../data/tweetsCov19_unique_urls_categorized.tsv'

with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_domains_shalla.iterrows():
        tsv_writer.writerow(row.values.tolist())

****

In [2]:
#Labels
TweetsCov19_domain_categorie_labels = ['domain', 'domain_categories_shalla']
#Path
TweetsCov19_domain_categorie_path =  '../data/tweetsCov19_unique_urls_categorized.tsv'

In [3]:
df_tweetscov19_domains_shalla = pd.read_csv(TweetsCov19_domain_categorie_path, sep='\t', error_bad_lines=False, names=TweetsCov19_domain_categorie_labels)
print('Form', df_tweetscov19_domains_shalla.shape)
df_tweetscov19_domains_shalla.head()

Form (181022, 2)

            domain domain_categories_shalla
0      twitter.com                socialnet
1      youtube.com                   movies
2    instagram.com                socialnet
3      nytimes.com                     news
4  theguardian.com                     news

In [4]:
#Labels
TweetsCov19_labels = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'Text', 'Is_deleted', 'Number of Mentions', 'Number of Hashtags', 'Number of URLS', 'Domains', 'Textlength', 'Readability','Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_compound', 'Emojis', 'Number of Emojis',  'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
#Path
TweetsCov19_Pfad =  '../data/TweetsCov19_stichprobe_final.tsv'

In [5]:
#Dataframe TweetsCov19 
df_tweetscov19 = pd.read_csv(TweetsCov19_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_labels)
print('Form', df_tweetscov19.shape)
df_tweetscov19.head()

Form (9409841, 31)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,Text,Is_deleted,Number of Mentions,Number of Hashtags,Number of URLS,Domains,Textlength,Readability,Vader_neg,Vader_neu,Vader_pos,Vader_compound,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,155,76.5530,-0.0000,1.0000,0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,204,29.4680,-0.0000,0.9190,0.0810,0.3182,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,163,79.5340,-0.2020,0.7980,0.0000,-0.6486,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,132,85.8890,-0.0000,0.6240,0.3760,0.8633,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,257,61.2030,-0.0000,0.7650,0.2350,0.9117,"['🐘', '🔴']",2,-0.0150,0.2650,0.2200,0.2235,2.0000

In [6]:
df_tweetscov19 = df_tweetscov19[['Tweet_Id', 'Is_deleted', 'Number of URLS','Domains']]
df_tweetscov19.head()

              Tweet_Id  Is_deleted  Number of URLS                 Domains
0  1178791637348212736        True               0                       0
1  1178791641601232896       False               1  catholicnewsagency.com
2  1178791643509612547       False               0                       0
3  1178791644214235137       False               0                       0
4  1178791645371875329       False               0                       0

In [12]:
def isNaN(n):
    return n != n

In [8]:
n = np.nan
print(n)
print(isNaN(n))

nan
True

In [11]:

def get_domain_categorie( domains):
    dom = ''
    categorie = ''
    list_dom = domains.split()
    for i in range(0, len(list_dom)):
        line = df_tweetscov19_domains_shalla.loc[df_tweetscov19_domains_shalla['domain'] == list_dom[i]]
        line = line.values.tolist()
        #print(line)
        #print(line[0][1])
        try :
            categorie = line[0][1]
        except IndexError:
            
            print('Index out of range!')
            print(list_dom[i])
            
        if isNaN(categorie):
            categorie = str(categorie)
            

        if i == 0 :
            dom = dom + categorie
        else:
            dom = dom + ' ' +categorie

    #print('----------------> ',dom)
    return dom

In [11]:
df_tweetscov19['Domains'] = df_tweetscov19['Domains'].astype(str)

df_tweetscov19['domain_categorie'] = df_tweetscov19.apply(lambda row: get_domain_categorie(row['Domains']) if (row['Domains'] != '0') else '0', axis=1)
print('Domains!!!')

Domains!!!

In [53]:
df_tweetscov19.head()

,Tweet_Id,Is_deleted,Number of URLS,Domains,domain_categorie
0,1178791637348212736,True,0,0,0
1,1178791641601232896,False,1,catholicnewsagency.com,religion
2,1178791643509612547,False,0,0,0
3,1178791644214235137,False,0,0,0
4,1178791645371875329,False,0,0,0

In [54]:
pfad_tsv = '../data/tweetsCov19_all_urls_categorized.tsv'

with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

In [2]:
#Labels
TweetsCov19_all_domain_categorie_labels = ['Tweet_Id', 'Is_deleted', 'Number of URLS', 'Domains', 'domain_categorie']
#Path
TweetsCov19_all_domain_categorie_path =  '../data/tweetsCov19_all_urls_categorized.tsv'

#Dataframe TweetsCov19 
df_tweetscov19 = pd.read_csv(TweetsCov19_all_domain_categorie_path, sep='\t', error_bad_lines=False, names=TweetsCov19_all_domain_categorie_labels)
print('Form', df_tweetscov19.shape)
df_tweetscov19.head()

Form (9409841, 5)

,Tweet_Id,Is_deleted,Number of URLS,Domains,domain_categorie
0,1178791637348212736,True,0,0,0
1,1178791641601232896,False,1,catholicnewsagency.com,religion
2,1178791643509612547,False,0,0,0
3,1178791644214235137,False,0,0,0
4,1178791645371875329,False,0,0,0

In [3]:
def get_most_used_categories(df): 
    dict_domains_cat = {}
    x = 0
    list_cat = []
    for idx, row in df.iterrows():
        list_cat = (row.values.tolist()[4])
        #print(list_cat)
        list_cat = list_cat.split()
        for i in range(0, len(list_cat)):
            cat = list_cat[i]
            x += 1
            if cat not in dict_domains_cat:
                dict_domains_cat[cat] = 1
            else :
                dict_domains_cat[cat] = dict_domains_cat[cat] +1
        #if x == 50:
        #    break
    return  dict_domains_cat

In [4]:
df_tweetscov19['domain_categorie'] = df_tweetscov19['domain_categorie'].astype(str)
TweetsCOV19_dict_domains_categorie = get_most_used_categories(df_tweetscov19)

In [5]:
df_tweetscov19_dom_cat = pd.DataFrame(TweetsCOV19_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [6]:
print('Anzahl der Kategorien:' ,df_tweetscov19_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 75

In [7]:
df_tweetscov19_dom_cat['prozent'] =  df_tweetscov19_dom_cat['Number'].apply(lambda row : ((row /2508542) * 100) )

df_tweetscov19_dom_cat['Number'] = df_tweetscov19_dom_cat['Number'].astype(int) 
df_tweetscov19_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
df_tweetscov19_dom_cat = df_tweetscov19_dom_cat.reset_index()
df_tweetscov19_dom_cat.head(15)

    index   Domain_categorie   Number  prozent
0       0                  0  6990537 278.6693
1       5                nan  1127579  44.9496
2       7               news   641499  25.5726
3       3          socialnet   364532  14.5316
4       8             movies   125942   5.0205
5       4      searchengines    37267   1.4856
6      15           shopping    27759   1.1066
7      12            radiotv    23926   0.9538
8      13              forum    20244   0.8070
9      10              music    19374   0.7723
10     11               porn    18577   0.7405
11     16         government    17910   0.7140
12      6       urlshortener    12985   0.5176
13     20  education/schools    10869   0.4333
14      2     fortunetelling    10678   0.4257

---

In [8]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['Is_deleted'] == True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['Is_deleted'] == False]

In [9]:
df_tweetscov19_undel['domain_categorie'] = df_tweetscov19_undel['domain_categorie'].astype(str)
TweetsCOV19_undel_dict_domains_categorie = get_most_used_categories(df_tweetscov19_undel)

In [10]:
df_tweetscov19_undel_dom_cat = pd.DataFrame(TweetsCOV19_undel_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [11]:
print('Anzahl der Kategorien:' ,df_tweetscov19_undel_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 73

In [12]:
df_tweetscov19_undel_dom_cat['prozent'] =  df_tweetscov19_undel_dom_cat['Number'].apply(lambda row : ((row /2508542) * 100) )

df_tweetscov19_undel_dom_cat['Number'] = df_tweetscov19_undel_dom_cat['Number'].astype(int) 
df_tweetscov19_undel_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
#df_tweetscov19_undel_dom_cat = df_tweetscov19_undel_dom_cat.reset_index()
df_tweetscov19_undel_dom_cat.head(15)

     Domain_categorie   Number  prozent
1                   0  5241504 208.9462
5                 nan   937464  37.3709
7                news   567644  22.6284
3           socialnet   294301  11.7320
8              movies    95698   3.8149
4       searchengines    31444   1.2535
15           shopping    22918   0.9136
12            radiotv    21847   0.8709
13              forum    16105   0.6420
16         government    15428   0.6150
10              music    15149   0.6039
11               porn    10735   0.4279
20  education/schools    10167   0.4053
6        urlshortener    10084   0.4020
2      fortunetelling     9645   0.3845

---

In [13]:
df_tweetscov19_del['domain_categorie'] = df_tweetscov19_del['domain_categorie'].astype(str)
TweetsCOV19_del_dict_domains_categorie = get_most_used_categories(df_tweetscov19_del)

In [14]:
df_tweetscov19_del_dom_cat = pd.DataFrame(TweetsCOV19_del_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [15]:
print('Anzahl der Kategorien:' ,df_tweetscov19_del_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 70

In [16]:
df_tweetscov19_del_dom_cat['prozent'] =  df_tweetscov19_del_dom_cat['Number'].apply(lambda row : ((row /2508542) * 100) )

df_tweetscov19_del_dom_cat['Number'] = df_tweetscov19_del_dom_cat['Number'].astype(int) 
df_tweetscov19_del_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
df_tweetscov19_del_dom_cat = df_tweetscov19_del_dom_cat.reset_index()
df_tweetscov19_del_dom_cat.head(15)

    index  Domain_categorie   Number  prozent
0       0                 0  1749033  69.7231
1       1               nan   190115   7.5787
2       3              news    73855   2.9441
3       4         socialnet    70231   2.7997
4       8            movies    30244   1.2056
5       5              porn     7842   0.3126
6       6     searchengines     5823   0.2321
7      10          shopping     4841   0.1930
8      13             music     4225   0.1684
9       7             forum     4139   0.1650
10      9      urlshortener     2901   0.1156
11     14        government     2482   0.0989
12     21           radiotv     2079   0.0829
13     11  hobby/games-misc     1143   0.0456
14      2    fortunetelling     1033   0.0412

***

# TweetsKB

***

In [21]:
Tweetskb_domains_labels = ['domain', 'Number']
Tweetskb_domains_Pfad =  '../data/tweetskb_unique_urls.tsv'

In [22]:
#Dataframe TweetsKB
df_tweetskb_domains = pd.read_csv(Tweetskb_domains_Pfad, sep='\t', error_bad_lines=False, names=Tweetskb_domains_labels)
print('Form', df_tweetskb_domains.shape)
df_tweetskb_domains.head()

Form (147069, 2)

            domain   Number
0                0  8024014
1      twitter.com   262420
2         youtu.be    65221
3    instagram.com    50601
4  twittascope.com    37526

In [23]:
df_tweetskb_domains = df_tweetskb_domains[['domain']]
df_tweetskb_domains['domain'] = df_tweetskb_domains['domain'].astype(str)


df_tweetskb_domains_shalla = shalla_cat(df_tweetskb_domains, domain_names='domain')

Using cached Shallalist data from local (C:\Users\mdsam\.pydomains\shalla_2017.csv.bz2)...
Loading Shallalist data file...

In [24]:
df_tweetskb_domains_shalla.head()

            domain shalla_2017_domain         shalla_2017_cat
0                0                  0                     NaN
1      twitter.com        twitter.com               socialnet
2         youtu.be           youtu.be     movies|urlshortener
3    instagram.com      instagram.com  socialnet|imagehosting
4  twittascope.com    twittascope.com          fortunetelling

In [25]:
df_tweetskb_domains_shalla.drop(index=df_tweetskb_domains_shalla.index[:1], axis=0, inplace=True)
df_tweetskb_domains_shalla.head()

            domain shalla_2017_domain         shalla_2017_cat
1      twitter.com        twitter.com               socialnet
2         youtu.be           youtu.be     movies|urlshortener
3    instagram.com      instagram.com  socialnet|imagehosting
4  twittascope.com    twittascope.com          fortunetelling
5       fllwrs.com         fllwrs.com                     NaN

In [26]:
df_tweetskb_domains_shalla = df_tweetskb_domains_shalla[['domain', 'shalla_2017_cat']]
df_tweetskb_domains_shalla.head()

            domain         shalla_2017_cat
1      twitter.com               socialnet
2         youtu.be     movies|urlshortener
3    instagram.com  socialnet|imagehosting
4  twittascope.com          fortunetelling
5       fllwrs.com                     NaN

In [27]:
df_tweetskb_domains_shalla['shalla_2017_cat'] = df_tweetskb_domains_shalla['shalla_2017_cat'].astype(str)

df_tweetskb_domains_shalla['domain_categories_shalla'] = df_tweetskb_domains_shalla.apply(lambda row: get_cat(row['shalla_2017_cat']), axis=1)
print('Domains Kategorisiert!')

Domains Kategorisiert!

In [28]:
df_tweetskb_domains_shalla.head()

            domain         shalla_2017_cat domain_categories_shalla
1      twitter.com               socialnet                socialnet
2         youtu.be     movies|urlshortener                   movies
3    instagram.com  socialnet|imagehosting                socialnet
4  twittascope.com          fortunetelling           fortunetelling
5       fllwrs.com                     nan                      nan

In [30]:
df_tweetskb_domains_shalla = df_tweetskb_domains_shalla[['domain', 'domain_categories_shalla']]

pfad_tsv = '../data/tweetskb_unique_urls_categorized.tsv'

with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_domains_shalla.iterrows():
        tsv_writer.writerow(row.values.tolist())

****

In [6]:
#Labels
TweetsKB_domains_labels    = ['domain', 'domain_categories_shalla']
#Path
TweetsKB_domains_labels_path =  '../data/tweetskb_unique_urls_categorized.tsv'

In [7]:
#Dataframe TweetsKB 
df_tweetskb_domains_shalla = pd.read_csv(TweetsKB_domains_labels_path, sep='\t', error_bad_lines=False, names=TweetsKB_domains_labels)
print('Form :', df_tweetskb_domains_shalla.shape)
df_tweetskb_domains_shalla.head()

Form : (147068, 2)

            domain domain_categories_shalla
0      twitter.com                socialnet
1         youtu.be                   movies
2    instagram.com                socialnet
3  twittascope.com           fortunetelling
4       fllwrs.com                      NaN

In [8]:
#Labels
TweetsKB_labels    = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Text', 'URLs', 'Is_deleted', 'Hashtags', 'Mentions', 'Number of Hashtags', 'Number of Mentions', 'Textlength', 'Readability', 'Domains', 'Number of URLs', 'Vader_pos', 'Vader_neu', 'Vader_neg', 'Vader_com' , 'Emojis', 'Number of Emojis','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
#Path
TweetsKB_Pfad =  '../data/Tweetskb_stichprobe_final.tsv'

In [9]:
#Dataframe TweetsKB 
df_tweetskb = pd.read_csv(TweetsKB_Pfad, sep='\t', error_bad_lines=False, names=TweetsKB_labels)
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Text,URLs,Is_deleted,Hashtags,Mentions,Number of Hashtags,Number of Mentions,Textlength,Readability,Domains,Number of URLs,Vader_pos,Vader_neu,Vader_neg,Vader_com,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.3500,dcuniverseinfinite.com,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.3900,carrd.co,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.7550,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.9210,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.9430,phenomhoopreport.com,1,0.0580,0.9420,-0.0000,0.2263,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000

In [13]:

def get_domain_categorie_kb( domains):
    dom = ''
    categorie = ''
    list_dom = domains.split()
    for i in range(0, len(list_dom)):
        line = df_tweetskb_domains_shalla.loc[df_tweetskb_domains_shalla['domain'] == list_dom[i]]
        line = line.values.tolist()
        #print(line)
        #print(line[0][1])
        try :
            categorie = line[0][1]
        except IndexError:
            
            print('Index out of range!')
            print(list_dom[i])
            
        if isNaN(categorie):
            categorie = str(categorie)
            

        if i == 0 :
            dom = dom + categorie
        else:
            dom = dom + ' ' +categorie

    #print('----------------> ',dom)
    return dom

In [14]:
df_tweetskb['Domains'] = df_tweetskb['Domains'].astype(str)

df_tweetskb['domain_categorie'] = df_tweetskb.apply(lambda row: get_domain_categorie_kb(row['Domains']) if (row['Domains'] != '0') else '0', axis=1)
print('Domains!!!')

Domains!!!

In [18]:
df_tweetskb = df_tweetskb[['Tweet_Id', 'Is_deleted', 'Number of URLs','Domains', 'domain_categorie']]
df_tweetskb.tail()

,Tweet_Id,Is_deleted,Number of URLs,Domains,domain_categorie
9409836,1267213428331999232,False,1,gofundme.com,nan
9409837,1267213449303556096,True,0,0,0
9409838,1267213553993277441,False,0,0,0
9409839,1267213713569972224,False,0,0,0
9409840,1267213818410737664,True,1,change.org,nan

In [19]:
pfad_tsv = '../data/tweetsKB_all_urls_categorized.tsv'

with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

In [2]:
#Labels
Tweetskb_all_domain_categorie_labels = ['Tweet_Id', 'Is_deleted', 'Number of URLS', 'Domains', 'domain_categorie']
#Path
Tweetskb_all_domain_categorie_path =  '../data/tweetsKB_all_urls_categorized.tsv'

#Dataframe TweetsCov19 
df_tweetskb = pd.read_csv(Tweetskb_all_domain_categorie_path, sep='\t', error_bad_lines=False, names=Tweetskb_all_domain_categorie_labels)
print('Form', df_tweetskb.shape)
df_tweetskb.head()

Form (9409841, 5)

,Tweet_Id,Is_deleted,Number of URLS,Domains,domain_categorie
0,1178791636039589889,False,1,dcuniverseinfinite.com,NaN
1,1178791641265639424,True,1,carrd.co,NaN
2,1178791640573579264,True,0,0,0
3,1178791644797255680,True,0,0,0
4,1178791648056217600,False,1,phenomhoopreport.com,NaN

In [4]:
df_tweetskb['domain_categorie'] = df_tweetskb['domain_categorie'].astype(str)
Tweetskb_dict_domains_categorie = get_most_used_categories(df_tweetskb)

In [5]:
df_tweetskb_dom_cat = pd.DataFrame(Tweetskb_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [6]:
print('Anzahl der Kategorien:' ,df_tweetskb_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 76

In [7]:
df_tweetskb_dom_cat['prozent'] =  df_tweetskb_dom_cat['Number'].apply(lambda row : ((row /1460380) * 100) )

df_tweetskb_dom_cat['Number'] = df_tweetskb_dom_cat['Number'].astype(int) 
df_tweetskb_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
df_tweetskb_dom_cat = df_tweetskb_dom_cat.reset_index()
df_tweetskb_dom_cat.head(15)

    index   Domain_categorie   Number  prozent
0       1                  0  8024014 549.4470
1       0                nan   687704  47.0908
2       3          socialnet   333323  22.8244
3       2               news   138562   9.4881
4       6             movies    94253   6.4540
5      23     fortunetelling    37554   2.5715
6       5               porn    33869   2.3192
7       9              music    19687   1.3481
8      12   hobby/games-misc    17182   1.1765
9      14       urlshortener    16777   1.1488
10      4           shopping    16649   1.1400
11      7              forum    16191   1.1087
12     10      searchengines    13578   0.9298
13     17            radiotv     5098   0.3491
14     15  education/schools     4102   0.2809

***

In [8]:
df_tweetskb_del = df_tweetskb[df_tweetskb['Is_deleted'] == True]
df_tweetskb_undel = df_tweetskb[df_tweetskb['Is_deleted'] == False]

In [9]:
df_tweetskb_undel['domain_categorie'] = df_tweetskb_undel['domain_categorie'].astype(str)
Tweetskb_undel_dict_domains_categorie = get_most_used_categories(df_tweetskb_undel)

In [10]:
df_tweetskb_undel_dom_cat = pd.DataFrame(Tweetskb_undel_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [11]:
print('Anzahl der Kategorien:' ,df_tweetskb_undel_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 76

In [12]:
df_tweetskb_undel_dom_cat['prozent'] =  df_tweetskb_undel_dom_cat['Number'].apply(lambda row : ((row /1460380) * 100) )

df_tweetskb_undel_dom_cat['Number'] = df_tweetskb_undel_dom_cat['Number'].astype(int) 
df_tweetskb_undel_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
df_tweetscov19_undel_dom_cat = df_tweetskb_undel_dom_cat.reset_index()
df_tweetskb_undel_dom_cat.head(15)

     Domain_categorie   Number  prozent
1                   0  5609983 384.1454
0                 nan   527429  36.1159
3           socialnet   254796  17.4472
2                news   118590   8.1205
6              movies    70465   4.8251
21     fortunetelling    33995   2.3278
5                porn    18880   1.2928
8               music    14386   0.9851
11   hobby/games-misc    13863   0.9493
14       urlshortener    13503   0.9246
4            shopping    13401   0.9176
12              forum    11297   0.7736
9       searchengines    10414   0.7131
17            radiotv     4512   0.3090
15  education/schools     3805   0.2605

***

In [13]:
df_tweetskb_del['domain_categorie'] = df_tweetskb_del['domain_categorie'].astype(str)
Tweetskb_del_dict_domains_categorie = get_most_used_categories(df_tweetskb_del)

In [14]:
df_tweetskb_del_dom_cat = pd.DataFrame(Tweetskb_del_dict_domains_categorie.items(), columns=['Domain_categorie','Number'])

In [15]:
print('Anzahl der Kategorien:' ,df_tweetskb_del_dom_cat.Domain_categorie.size)

Anzahl der Kategorien: 69

In [16]:
df_tweetskb_del_dom_cat['prozent'] =  df_tweetskb_del_dom_cat['Number'].apply(lambda row : ((row /1460380) * 100) )

df_tweetskb_del_dom_cat['Number'] = df_tweetskb_del_dom_cat['Number'].astype(int) 
df_tweetskb_del_dom_cat.sort_values(by = ['Number'], ascending = False, inplace = True)
df_tweetskb_del_dom_cat = df_tweetskb_del_dom_cat.reset_index()
df_tweetskb_del_dom_cat.head(15)

    index  Domain_categorie   Number  prozent
0       1                 0  2414031 165.3016
1       0               nan   160275  10.9749
2       2         socialnet    78527   5.3772
3       8            movies    23788   1.6289
4       5              news    19972   1.3676
5       7              porn    14989   1.0264
6       9             music     5301   0.3630
7       3             forum     4894   0.3351
8      19    fortunetelling     3559   0.2437
9      15  hobby/games-misc     3319   0.2273
10     10      urlshortener     3274   0.2242
11      4          shopping     3248   0.2224
12      6     searchengines     3164   0.2167
13     23        government      674   0.0462
14     14           radiotv      586   0.0401